* {
    box-sizing: border-box;
}
/* variables */
:root {
    /* colors */
    --color-very-light-grayish-blue: hsl(240, 78%, 98%);
    --color-light-grayish-blue: hsl(234, 14%, 74%);
    --color-grayish-blue: hsl(233, 13%, 49%);
    --color-dark-grayish-blue: hsl(232, 13%, 33%);
    /* fontsize */
    --base-font-size: 15px;
    /* --font-family: 'Montserrat', sans-serif; */
}

html{
    font-size: var(--base-font-size);
    font-family: 'Montserrat', sans-serif;
    color:hsl(232, 13%, 33%);
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container2{
    background-color: var(--color-very-light-grayish-blue);
    margin: auto;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background image positioning */
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 0% left 100%, left bottom;
}

.annual{
    margin-top: 9px;
    margin-right: 20px;
    color: var(--color-light-grayish-blue);
}
.monthly{
    margin-top: 9px;
    margin-left: 20px;
    color: var(--color-light-grayish-blue);
}
.subscriptionType{
    display: flex;
    /* justify-content: space-around; */
}
.pricingCards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 65%;

    /* box-shadow: 3px 2px 33px 5px rgb(255, 255, 255); */
    
}
.cards{
    width: 75%;
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    color: var(--color-grayish-blue);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* .basic{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.master{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
} */

.ourPricingHeader{
    font-size: xx-large;
    color: var(--color-grayish-blue);
}

.currency{
    font-size: 3rem;
    color: var(--color-dark-grayish-blue);
}

.cardButton{
    background-color: var(--color-grayish-blue);
    text-transform: uppercase;
    border: none;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    background-image: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    font-weight: bold;
    color: white;
}

hr{
    width: 60%;
    color: var(--color-grayish-blue);
}

/* The switch - the box around the slider  -reference w3schools.com */ 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
} 

.cards:hover{
    background-image: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    color: var(--color-very-light-grayish-blue);
    /* margin: -2rem 0; */
    margin-top: -2px;
    /* margin-bottom: -2rem; */
    height: 100%;
}

.cards:hover > .currency{
    color: var(--color-very-light-grayish-blue);
}

.cards:hover > hr{
    color: var(--color-very-light-grayish-blue);
}

.cards:hover > .cardButton{
    background-image: linear-gradient(white , white);
    color: var(--color-dark-grayish-blue);
}
